.header{
    padding: 50px;
background-color: #ffc68a;
}
.header h1{
    text-align: center;
    color: #41238b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    background-color: #ffc68a;
}
.header h2{
    text-align: center;
    color: #41238b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    background-color: #ffc68a;
}